body {
    padding: 0px;
    margin:0px;
    font-family:Tahoma;
    background-image:url('images/freedom.jpg');
}

#wrapper {
    width: 1000px;
    background-color:#fff;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1000px;
    height: 200px;
    padding-bottom: 5px;
    background-image:url('images/newbanner.jpg');
    background-size:auto;
    background-repeat:no-repeat;
    position:relative;
}

    #header #logo {
        float: left;
        width: 350px;
        padding: 5px 0px 0px 20px;
    }

    #header #infoHeader {
        width: 300px;
        float: right;
        text-align: right;
        margin-right:10px;
    }

    #header h1 {
        font-size: 14px;
        font-family:Tahoma;
    }

    #header h2 {
        font-size: 10px;
        font-family:Tahoma;
    }

#navBar {
    width: auto;
	height:36px;
	margin: 1px;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	
}

#navBar ul
{
list-style-type:none;
margin:0;
padding:0;

}

#navBar li
{
display:inline;
float:left;
width:166px;


}

#navBar li a { display: block;
		padding: 8px 15px;
		text-decoration: none;
		color: #069;
		border:1px solid #ccc;
        text-align: center;
        background-image:url('images/backgrad4.png');
        
}

#navBar a:visited { color: #0268a9; }

    #navBar li a:hover
    {
        color: #c00;
        background-image: url('images/backgrad5.png');
    }

#navBar a:focus { outline: thin dotted; }

#mainContainer {
    height: 100%;
    
    margin-top: 5px;
    padding:5px;
}

.footerText a {
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    font-size:small;
    color: #000;
    margin:2px;
}

#footer {
    width: auto;
    padding-top:15px;
    text-align:center;
    clear:both;
}

.footerLink:hover
{
    color:#c00;
}

#cstLoginPnl
{
    width:450px;
    float:left;
    background-color:#cfdcfc;
    border: solid 1px #000;
    padding:5px;
    margin:22px;
    box-shadow:#808080  5px 5px;
    border-radius:8px;
    text-align:center;
}

.cstUpdate
{
    width:450px;
    background-color:#cfdcfc;
    border: solid 1px #000;
    padding:5px;
    margin:22px;
    box-shadow:#808080  5px 5px;
    border-radius:8px;
    text-align:center;
    margin-left:210px;
}

.cstGenReport
{
    width:800px;
    background-color:#cfdcfc;
    border: solid 1px #000;
    padding:5px;
    margin:22px;
    box-shadow:#808080  5px 5px;
    border-radius:8px;
    text-align:center;
    margin-left:50px;
}

.txtFirstName
{
    margin:5px;
}

.lblFirstName
{
    margin:5px;
}

.lblUpdateClientID
{
    margin: 5px 5px 5px 75px;
}

.btnUpdateClient
{
    width: 250px;
    font: bold 14px tahoma;
    margin: 8px 25px 8px 15px;    

}

.updateClientHeader
{
    text-align:center;
}

#empLoginPnl
{
    width:450px;
    background-color:#fbc0be;
    float:left;
    border: solid 1px #000;
    padding:5px;
    margin-top:22px;
    box-shadow:#808080 5px 5px;
    border-radius:8px;
    text-align:center;
}
.loginHead h2
{
    text-align: center;
    font: bold 20px Tahoma;
}
.lblLogin
{
    width: 150px;
    padding-bottom: 2px;
    margin: 5px 15px 10px 25px;
}
.txtLogin
{
    width: 150px;
    margin-left: 10px;
    margin:10px;
}
.btnLogin
{
    width: 150px;
    margin-bottom: 15px;
    font: bold 14px tahoma;
}
.welcomeBox
{
    height: 30px;
    text-align: right;
    padding:2px 5px 2px 5px;
    font: bold 16px Tahoma;
    background-color:#EFEFEF;
    border-bottom: 2px solid #000;
}
.adminDashboard
{
    border-bottom: 2px solid #000;
    margin: 0px;
    padding: 2px;
    background-color: #EFEFEF;
    text-align: center;
}
   

    .adminDashboard .btnMenuEmp 
    {
        text-align: left;
        
    }

    .adminDashboard .btnMenuEmpItem 
    {
        vertical-align: central;
    }



    .adminDashboard h3
    {
        text-align: center;
        background-color: #ccc;
        border-top: 2px solid #000;
        
    }

#adminList
{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
#adminLinks a:link, a:visited
{
    display:block;
    color:#000;
    text-align:center;
    background-image:url("images/backgrad4.png");
    padding:10px;
    text-decoration:none;
}
#adminLinks a:hover
{
    color:#FFF;
    background-image:url("images/backgrad5.png");
}

.adminDashboard h2
{
    font:bold 18px Tahoma;
    margin:1px;
    padding:1px;
    
}

.lblDash 
{
    
    font-family: Tahoma;
    margin:2px 10px 2px 25px;
}
.btnDash
{
    width: 250px;
    font: bold 14px tahoma;
    margin: 8px 25px 8px 60px;    
}
.btnDash2
{
    width: 250px;
    font: bold 14px tahoma;
    margin: 8px 25px 8px 60px;
    float: left;
        
}
.btnDash3
{
    
    margin-top: 8px;
    float: left;
        
}
.updateTable
{
    width: 100%;
    border: none;
}

.updateClientDetails
{
    width:100%;
}

.createAcctLbl
{
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 16px 0px;
}

.createAcctTxt
{
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 15px 0px;
}

.createAcctSubmitBtn
{
    margin-left: 100px;
}

.createAcctContainer 
{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

#createAcctLblPnl
{
    float: left;
    width: 275px;
    text-align: right;
}

#createAcctTxtPnl
{
    float: left;
    margin-left: 5px;
    width: 375px;
    text-align: left;
}

.termsUse 
{
    margin: 10px;
    padding: 0px 40px 0px 40px;
}

.listTermsUse
{
    margin:0px 40px 0px 20px;
    padding: 0px 40px 0px 50px;
}

.listPrivacy
{
    margin:0px 40px 0px 20px;
    padding: 0px 40px 0px 50px;
}

.headerTerms
{
    margin-left: 45px;
}

.contactLink
{
    text-decoration:none;
    color:#000;
}
#pic1 
{
    float: left;
}
#pic2 
{
    float: left;
    padding-left: 15px;
}
#pic3 
{
    float: right;
    height: 785px;
    width: 516px;
}
#box1 
{
    position: absolute;
    top: 300px;
    height: 200px;
    width: 988px;
    background-image:url('images/Transparent.png');
    /*font-family: Verdana;*/
}
    #box1 h1 
    {
        padding-left: 30px;
    }

.indent 
{
    padding-left: 100px;
}

#box2 {
    width: 380px;
    height: 200px;
    position: absolute;
    top: 625px;
    /*font-family: 'Times New Roman';*/
    padding-left: 20px;
    text-align: left;
}

#aboutUs_text {
    width: 500px;
    height: 800px;
    padding-left: 25px;
    font-family: Verdana;
    float: left;
}

#aboutUs_pic1 {
    padding-top: 85px;
    float: right;
    padding-right: 25px;
}

#aboutUs_pic2 {
    float: right;
    padding-right: 25px;
    padding-top: 35px;
}


#services_text {
    width: 800px;
    height: 150px;
    padding-left: 25px;
    font-family: Verdana;
    float: left;
}

#services_text2 {
    float: left;
    width: 900px;
    padding-left: 25px;
}

    #services_text2 .price {
        float: right;
        font-weight:bold;
    }

    #services_text2 .title {
        
        font-weight:bold;
    }

    #services_text2 .info {
        width: 700px;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

#services_container {
    width: 980px;
    height: 800px;
    background-image: url('images/services_background.png');
}

#contact_container {
    width: 980px;
}

#redirectText
{
    text-align: center;
}

    #redirectText a:link
    {
         color: blue;
         text-decoration: none;
    }

    #redirectText a:hover
    {
        color: red;
    }

.lblEmp
{
    float: left;
    width: 250px;
    margin:5px 5px 0px 15px;
}
.txtAddEmp
{
    width: 300px;
    margin-top: 5px;
}
.ddlEmp
{
    width: 150px;
    margin-left: 150px;
}
.rdoAdmin
{
    margin-left: 15px;
}
.returnHome
{
    float: left;
    width: 250px;
    font: bold 14px tahoma;
    
}

.lblGenStartDate
{
    font-family: Tahoma;
    margin:2px 5px 2px 20px;
    padding-left:60px;
}

.lblGenEndDate
{
    font-family: Tahoma;
    margin:2px 5px 2px 8px;
}

.chkGenReport
{
    margin: 36px;
}

.btnSubmitRep
{
    width: 250px;
    font: bold 14px tahoma;
    margin: 8px 60px 8px 10px;    
}



.cosRadio 
{
    margin-left: 440px;
}

.downloadCOSbtn 
{
    width: 250px;
    font: bold 14px tahoma;
    margin: 8px 25px 8px 60px;   
    text-align: center;
}

.empFileUpload 
{
    text-align: center;
}

#custUpload
{
    text-align: center;
}