<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="weserveuDB" connectionString="Data Source=WeserveU.db.10953728.hostedresource.com; Initial Catalog=WeserveU; User ID=WeserveU; Password='Bromin#9284';" />
    <add name="testDB" connectionString="Data Source=WeserveUDB.db.10953728.hostedresource.com; Initial Catalog=WeserveUDB; User ID=WeserveUDB; Password='Bromin#9284';" />
    <add name="UpdateWODataConnection" connectionString="Data Source=WeserveUDB.db.10953728.hostedresource.com;Initial Catalog=WeserveUDB;Persist Security Info=True;User ID=WeserveUDB;Password=Bromin#9284"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
